<h1> <%= @choir_leader.name %>'s Profile </h1>
<% for attribute in ['voice', 'home_locale', 'district', 'email', 'phone_number'] %>
<%= attribute.humanize %>: <%= @choir_leader.attributes[attribute].to_s %><br>
<% end %>
<%= link_to  "#{@choir_leader.name}'s Practice Times", choir_leader_practice_times_path(@choir_leader) %>
<br>
<br>
Choir Members in <%= @choir_leader.name %>'s Home Locale:<br>
<% @choir_members.each do |member| %>
    <% if @choir_leader.home_locale == member.home_locale %>
    <%= link_to member.name, choir_member_path(member) %><br>
    <% end %>
    <% end %>