<!DOCTYPE html>
<html>
  <head>
    <title>ChoirScheduler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body><br>
  <% if admin_logged_in? %>
  Hello, Choir Leader <%= link_to current_login.name, choir_leader_path(current_login) %><br>
  <%= link_to "Edit your Profile", edit_choir_leader_path(current_login) %><br>
  <%= link_to "Logout", logout_path, method: :delete %><br>
  <%= link_to "Create a new Practice Time", new_choir_leader_practice_time_path(current_login) %><br>
  <% elsif user_logged_in? %>
  Hello Choir Member <%= link_to current_login.name, choir_member_path(current_login) %><br>
  <%= link_to "Edit your Profile", edit_choir_member_path(current_login) %><br>
  <%= link_to "Logout", logout_path, method: :delete %>
  
  <% else %>
    <%= link_to "Log in", "/login" %><br>
    <%= link_to "Choir Members can sign-up here", new_choir_member_path %>
    <% end %>
    <br>
    <%= link_to "View all choir members", choir_members_path %><br>
    <%= link_to "View all choir leaders", choir_leaders_path %><br>
    <%= link_to "Practice Times", practice_times_path %><br>
    <br>

  <%= link_to "Reserve Earliest Available Practice Time", "/reserve" %>

    <% flash.each do |type, msg| %>
      <%= msg %>
      <% end %>
    <%= yield %>
  </body>
</html>
