<!DOCTYPE html>
<html>
  <head>
    <title>ChoirScheduler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if admin_logged_in? || user_logged_in? %>
  Hello, Choir Leader <%= current_login.name %><br>
  <%= link_to "Logout", logout_path, method: :delete %>
  
  <% else %>
    <%= link_to "Log in", "/login" %><br>
    <%= link_to "Choir Members can sign-up here", new_choir_member_path %>
    <% end %>

    
    <%= yield %>
    <% flash.each do |type, msg| %>
      <%= msg %>
      <% end %>
  </body>
</html>
